[submodule "CityU_EE3070_eClassRoom_app"]
	path = CityU_EE3070_eClassRoom_app
	url = https://github.com/cocomine/CityU_EE3070_eClassRoom_app.git

[submodule "CityU_EE3070_eClassRoom_server"]
	path = CityU_EE3070_eClassRoom_server
	url = https://github.com/cocomine/CityU_EE3070_eClassRoom_server.git
[submodule "CityU_EE3070_eClassRoom_ESP32"]
	path = CityU_EE3070_eClassRoom_ESP32
	url = https://github.com/ProHandsomeGod/EE3070-TGAM
[submodule "CityU_EE3070_eClassRoom_Arduino"]
	path = CityU_EE3070_eClassRoom_Arduino
	url = https://github.com/Spongexing/CityU_EE3070_eClassRoom_xing
[submodule "CityU_EE3070_eClassRoom_PYNQ"]
	path = CityU_EE3070_eClassRoom_PYNQ
	url = https://github.com/Ivanhihi/EE3070-PYNQ-Z2-part
